@model IEnumerable<EnviosTLE.Comun.ClienteRemitenteDTO>

@{
    ViewBag.Title = "ConsultarClientes";
}

<h2>Consultar Clientes</h2>
<table>

    <thead>
        <tr>
            <th>Identificacion</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CEDULA</td>
                <td>@item.NOMBRE</td>
                <td>@item.APELLIDO</td>
                <td>@item.DIRECCION</td>
                <td>@item.TELEFONO</td>
            </tr>
        }
    </tbody>

</table>


